extends base

block content
    main.main
        .login-form
            h2(style='margin-bottom: 10px;color: #777;font-size: 2.9rem;text-align: center;') Forgot Password?
            h2.heading-secondary.ma-bt-md Enter Your Email And Submit
           
            form.form
            .form__group
                label.form__label(for='email') Email address
                input#email.form__input(type='email', placeholder='you@example.com', required)
            .form__group
                button#forgotPasswordBtn.btn.btn--green.ma-bt-md Submit
        
            //- h2.heading-secondary.ma-bt-md(style='text-transform: none; font-size: 20px;') "A Message Will Send To This Email To Reset Your Password"                
            h2(style='text-align: center; font-size: 17px;') Note: Check your Email's spam folder if you don't find the message in your inbox