extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form
            .form__group.ma-bt-md
                label.form__label(for='password') New Password
                input#password.form__input(type='password', placeholder='New Password', required, minlength='8')
            .form__group.ma-bt-md
                label.form__label(for='password') Confirm Password
                input#confirm_password.form__input(type='password', placeholder='Confirm Password', required, minlength='8')

            .form__group
                button#btnResetPassword.btn.btn--green Reset